<h1><%= @user.email %></h1>

<%= image_tag @user.avatar.url(:thumb) %>

<%= link_to 'Edit User', edit_user_registration_path(@current_user), class: 'btn btn-warning' %>

<%= bootstrap_form_for([@user, @image]) do |f| %>
  <%= f.text_field :name, placeholder: "Image Name" %>
  <%= f.text_field :caption, placeholder: "What it is" %>
  <%= f.file_field :photo %>
  <%= f.submit %>
<% end %>

<% if @images %>
  <% @images.each do |image| %>
    <%= image_tag image.photo.url(:small) %>
  <% end %>
<% else %>
  <p>
    You have no images yet
  </p>
<% end %>
