<h1><%= @user.email %></h1>

<%= image_tag @user.avatar.url(:thumb) %>

<%= link_to 'Edit User', edit_user_registration_path(@current_user), class: 'btn btn-warning' %>

<%= bootstrap_form_for([@user, @image]) do |f| %>
  <%= f.text_field :name, placeholder: "Image Name" %>
  <%= f.text_field :caption, placeholder: "What it is" %>
  <%= f.file_field :photo %>
  <%= f.submit %>
<% end %>
<hr>

<% if @images.any? %>
  <% @images.each do |image| %>
    <div class="col-sm-2 centered-image">
      <%= link_to image_tag(image.photo), user_image_path(@user, image), alt: image.caption, class: 'thumbnail' %>
      <%= image.name %>
    </div>
  <% end %>
<% else %>
  You have not added any images yet.
<% end %>
